@import url(https://db.onlinewebfonts.com/c/4acf49f638295608865a0a0c949fdb7d?family=Mistress+Benedict+Brush);

*{
  --letraAzul: #3168ff;
  --fundo: #91d8f7;
  --cornav: #C9EBFB;
  --letraTitulos: rgb(0, 8, 114);
}

/* Sessao da escolhja */
.secao-escolha{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(145,216,247,1);
}

/*Secao onde as imagens e botoes vão ficar */
.container-accordion{
  display: flex;
  align-items: center;
  justify-items: center;
  width: 80%;
}

/* adicionando uma cor ao passar o mouse em cima do botão */
.active-accordion, .btn-accordion:hover, .btn-accordion:hover {
  background-color: var(--letraAzul);
}

/*Estilizando os botoes*/
.btn-accordion {
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  color: white;
  background-color: rgb(60, 197, 255);
  transition: 0.5s;
  padding: 18px;
  border: none;
  cursor: pointer;
}

/*Dimensionando as imagens*/

/*Div onde estao as respectivas imagens e botoes*/
.card-caminho{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
}

.card-caminho img{
  width: 80%;
}

/*Secao da biodiversiade*/
.secao-biodiversidade{
  display: none;
  max-height: 0px;
  transition: max-height 2s ease-out;
}

.conteudo-biodiversidade{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: var(--fundo); 
}

.titulos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.titulos h2{
  font-family: "Mistress Benedict Brush";
  font-weight: lighter;
  font-size: 150px;
  color:var(--letraTitulos);
}

.card-1{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.imagem{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.imagem img{
  width: 100%;
}

.texto{
  width: 50%;
}

.texto p{
  font-size: 20px;
  color: var(--letraTitulos);
}

.apresentacao-bivalves{
  width: 70%;
  display: flex;
  justify-content: center;
  padding-top: 44px;
}

.apresentacao-bivalves p{
  font-size: 22px;
  color: var(--letraTitulos);
  text-align: center;
}

.ambientes{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.ambientes img{
  width: 50%;
}

.ambientes p{
  width: 75%;
  font-size: 22px;
  color: var(--letraTitulos);
  text-align: center;
}

.usos p {
  font-size: 22px;
  color: var(--letraTitulos);
  text-align: center;
}

/*Secao da sociodiversiade*/
.secao-sociodiversidade{
  display: none;
  max-height: 0px;
  transition: max-height 2s ease-out;
}


.conteudo-sociodiversidade{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fundo); 
}

.titulo-pessoas{
  padding: 20px;
  font-family: "Mistress Benedict Brush";
  font-weight: lighter;
  font-size: 150px;
  color:var(--letraTitulos);
}