@import url(https://db.onlinewebfonts.com/c/4acf49f638295608865a0a0c949fdb7d?family=Mistress+Benedict+Brush);

*{
  padding: 0;
  margin: 0;
  --letraAzul: #3168ff;
  --fundo: #91d8f7;
  --cornav: #C9EBFB;
  --letraTitulos: rgb(0, 8, 114);
  --corantropoceno: #dbd8c3;
}

/* Sessao da escolhja */
.secao-escolha{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgb(145,216,247) 
                0%, rgba(255,254,254,1) 100%);
}

/*Secao onde as imagens e botoes vão ficar */
.container-accordion{
  display: flex;
  align-items: center;
  justify-items: center;
  width: 80%;
}

/* adicionando uma cor ao passar o mouse em cima do botão */
.disabled, .btn-accordion:hover {
  background-color: var(--letraAzul);
}

.disabled{
  opacity: 0.4;

}

/*Estilizando os botoes*/
.btn-accordion {
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  color: white;
  background-color: rgb(60, 197, 255);
  transition: 0.5s;
  padding: 18px;
  border: none;
  cursor: pointer;
}

/*Dimensionando as imagens*/

/*Div onde estao as respectivas imagens e botoes*/
.card-caminho{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
}

.card-caminho img{
  width: 80%;
}

/*Secao da biodiversiade*/
.secao-biodiversidade{
  display: none;
  max-height: 0px;
  transition: max-height 2s ease-out;
}

.conteudo-biodiversidade{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg,rgba(145,216,247,1)   
  0%, rgb(209, 209, 183) 90%, #dbd8c3 100%);
}

.titulos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.titulos h2{
  font-family: "Mistress Benedict Brush";
  font-weight: lighter;
  font-size: 150px;
  color:var(--letraTitulos);
}

.card-1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15rem;
  padding-right: 15rem;
}

.imagem{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.imagem img{
  width: 70%;
}

.texto{
  width: 50%;
}

.texto p{
  font-size: 22px;
  color: var(--letraTitulos);
}

.apresentacao-bivalves{
  width: 100%;
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.apresentacao-bivalves p{
  font-size: 2px;
  color: var(--letraTitulos);
  text-align: center;
}

.ambientes{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.ambientes img{
  width: 30%;
}

.ambientes p{
  width: 75%;
  font-size: 22px;
  color: var(--letraTitulos);
  text-align: center;
}

.usos{
  width: 100%;
}

.usos p {
  font-size: 22px;
  color: var(--letraTitulos);
  text-align: center;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.card{
  background-color: var(--fundo);
  border: none;
}

.card-title{
  display: flex;
  justify-content: center;
  color: var(--letraTitulo);
}

#pesca-1{
  width: 50%;
}

#barcos{
  width: 70%;
}

.card-2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.apresentacao-consevacao{
  width: 100%;
}

.imagem-card-2{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.imagem-card-2 img{
  width: 60%;
  border: 5px solid white;
}

.texto-conservacao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.texto-conservacao p{
  width: 75%;
  font-size: 24px;
  color: var(--letraTitulos);
  text-align: center;
}

.texto-conservacao h2{
  font-size: 26px;
  font-weight: bold;
  color: var(--letraTitulos);
}

.listas{
  display: flex;
  flex-direction: row;
  width: 100%;
}


.listas ul li{
  font-size: 20px;
  color: var(--letraTitulos);
}

.lista-1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista-2{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

figcaption{
  color: var(--letraTitulos);
}

.texto-conservacao img{
  width: 50%;
  border: 5px solid white;
}

/*Secao da sociodiversiade*/
.secao-sociodiversidade{
  display: none;
  max-height: 0px;
  transition: max-height 2s ease-in-out;
}

.conteudo-sociodiversidade{
  width: 100%;
  background-color: var(--fundo); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg,rgba(145,216,247,1)   
  0%, rgb(209, 209, 183) 90%, #dbd8c3 100%);
}

.conteudo-sociodiversidade img{
  border: 0.5rem solid white;
}

.conteudo-sociodiversidade p{
  color: var(--letraTitulos);
}

.titulo-sociodiversidade{
  padding: 5%;
  font-family: "Mistress Benedict Brush";
  font-weight: lighter;
  font-size: 150px;
  color:var(--letraTitulos);
}


.card-pessoas, .card-apetrechos, .card-pesca, .card-processamento, .card-cultivo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pessoas-corpo, .apetrechos-corpo, .pesca-corpo, .processamento-corpo, .cultivo-corpo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  width: 80%;
}



.imagem-pescador img, .imagem-apetrechos img, .imagem-processamento img,
.imagem-cultivo img{
  width: 95%;
  height: 95%;
}

.imagem-apetrechos .apetrecho1{
  width: 99%;
}

.imagem-pescador, .imagem-apetrechos, .imagem-processamento, .imagem-cultivo {
  
  width: 50vw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.escrita-pessoas{
  width: 100%;
}

.escrita-apetrechos{
  width: 90%;
}

.pesca-corpo{
  align-items: flex-start;
}

.escrita-apetrechos p, .escrita-pessoas p, .escrita-pesca p,
.escrita-processamento p, .escrita-cultivo p{
  font-size: 20px;
}

.escrita-cultivo p{
  text-align: right;
}

.corpo2-apetrechos p{
  text-align: right;
}

.apetrechos-corpo .corpo2-apetrechos{
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}

.foto-ferramenta{
  position: absolute;
}

#pescador-pesca{
  width: 30vw; 
}

#pescador-pesca2{
  width: 30vw;
}


.pesca-coluna1, .pesca-coluna2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.pesca-coluna1{
  gap: 40px;
}



.pesca-coluna2{
  align-items: center;
  gap: 220PX;
}

#escrita-pesca1{
  text-align: end;
}

#pescador-consumo{
  width: 60vw ;
}

.card-pesca{
  gap: 50px;
}



#corpo2-pesca{
  align-items: center;
  justify-content: center;
}

.processamento-coluna{
  display: flex;
  align-items:flex-start;
  width: 50%;
  flex-direction: column;
  gap: 50px;
}

#coluna1-processamento2{
  align-items: flex-end;
}

.imagem-processamento{
  width: 35vw;
  
}

#imagem-processamento1{
  width: 30vw;
}

#escrita-processamento-avulso{
  margin: 5%;
}

.card-cultivo{
  gap: 50px;
}

#imagem-cultivo1{
  width: 40vw;
}

#imagem-cultivo2{
  width: 35vw;
}

.coluna-cultivo{
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#corpo1-cultivo{
  justify-content: center;
  align-items: flex-end;
}

#coluna2-cultivo{
  flex-direction: column;
  align-items:center;
  gap: 80px;
}

#corpo2-cultivo{
  align-items: center;
  justify-content: flex-end;
}

#imagem-cultivo3{
  width: 40vw;
}

#imagem-cultivo4{
  width: 26vw;
}

#coluna2-cultivo2{
  justify-content: flex-end;
}

#coluna2-cultivo3, #coluna1-cultivo3{
  gap: 50px;
  padding: 0;
}

#imagem-cultivo6 {
  width: 40vw;
}

#imagem-cultivo5{
  width: 40vw;
}

#corpo4-cultivo{
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imagem-cultivo{
  flex-direction: column;
}

#corpo4-cultivo{
  gap: 0;
}

#corpo4-cultivo h3{
  color: var(--letraTitulos);
}


.legenda-referencia{
  width: 80%;
  text-align: center;
  color: black;
  font-size: 9px;
}

 p{
  font-size: 0px;

}
#escrita-cultivo-responsividade{
width: 0;
height: 0;
}
/*Sessao antropoceno*/

.secao-antropoceno{

  display: none;
  max-height: 0px;
  transition: max-height 2s ease-in-out;
}

.conteudo-antropoceno{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--corantropoceno);

}

.titulos-antropoceno{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.titulos-antropoceno h2{
  font-family: "Mistress Benedict Brush";
  font-weight: lighter;
  font-size: 150px;
  color:black;
}

.texto-antropoceno{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.texto-antropoceno p{
  font-size: 22px;
  color: black;
}

.neosambaquis{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.neosambaquis img{
  width: 50%;
}

.neosambaquis p{
  width: 60%;
  font-size: 22px;
  color: black;
  text-align: center;
}



.card-mudança-climatica{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.card-mudança-climatica p {
  width: 50%;
  font-size: 22px;
  color: black;
  text-align: center;
}

.card-mudança-climatica img{
  width: 50%;
}

.lixo-no-mar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(180deg, var(--corantropoceno)  
  0%, rgb(199, 199, 181) 12%, rgb(0, 0, 0) 100%);
}

.lixo-no-mar p{
  width: 80%;
  font-size: 24px;
  color: black;
  text-align: center;
  padding: 5rem;
}

#entrada-antropoceno p{
  color: white;
}

#entrada-antropoceno h2{
  color: white;
}

#entrada-antropoceno{
  color: white;
}

.antropoceno{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  gap: 50px;
  padding-bottom: 10rem;
}

.antropoceno p{
  width: 70%;
  font-size: 22px;
  text-align: center;
}

.conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagem-antropoceno img{
  width: 40%;
}

.cards-antropoceno{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.ongs{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ongs img{
  width: 10%;
}

.aviso{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.aviso img{
  width: 10%;
}

.aviso h2{
  font-size: 3vw;
  color: white;
}