*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --letraAzul: #3168ff;
    --fundo: #91d8f7;
    --cornav: #C9EBFB;
}

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

section{
  transition: 0.3s ease-in-out;
}

.principal{
    background-image: url("../images/ondas.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
    background-color: #91d8f7;
    min-height: 100vh;
    gap: 80px;
}

.secao-apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 
                0%, rgba(255,254,254,1) 12%, rgba(145,216,247,1) 100%);
    gap: 100px;
}

.imagem-superior{
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 40%;
    gap: 5%;
}

#botao-comecar{
  position:relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8,#55e7fc);
}

#onda-superior{
    width: 100%;
    height: 180px;
}

#logo-lagamar{
    height: 400px;
}

#lagamar-paisagem{
    height: 400px;
}

a{
    color: var(--letraAzul);
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

a:hover{
    opacity: 0.7;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {

}

.secao-escolha{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  background: linear-gradient(180deg, rgba(145,216,247,1) 
                0%,rgba(145,216,247,1) 12%, rgba(255,254,254,1) 100%);
  min-height: 100vh;
  padding: 100px;
}


.container-accordion{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  width: 80%;
  gap: 20px
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-accordion, .accordion:hover {
  background-color: var(--letraAzul);
}

/* Style the accordion panel. Note: hidden by default */
.secao-caminhos .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.panel.active {
  max-height: 200px; /* Defina a altura máxima desejada para a animação */
}

.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.accordion{
  font-size: 10px;
  font-weight: 600;
  color: white;
  background-color: var(--fundo);
  text-decoration: none;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 18px;
  width: 50%;
  text-align: left;
  border: none;
  outline: none;
}

#img{
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

#img-top{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-caminho{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 600;
}

.secao-caminhos{
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#img-down{
  width: 100%;
  height: 180px;
}