*{
    padding: 0;
    margin: 0;
}

ul{
    padding-left: 0;
}

/* BREAKPOINTS */
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px){
    
}

@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    #logo-lagamar{
        height: 200px;
    }

    #botao-comecar{
        font-size: 1.5rem;
    }

    #menu-icon{
        display: block;
        cursor:pointer;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        text-align: center;
    }
}

@media (max-width: 617px){
    body{
        overflow-x: hidden;
    }

    #logo-lagamar{
        height: 160px;
    }

    #botao-comecar{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 488px) and (orientation: portrait){
    body{
        overflow-x: hidden;
    }

    .secao-apresentacao {
        height: auto; /* Adjusted for responsiveness */
        
    }

    .texto-apresentacao p {
        font-size: 16px; /* Adjusted for responsiveness */
        text-align: center;
        padding-top: 0.5rem;
    }

    .apresentacao {
        width: 100%; /* Adjusted for responsiveness */
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
    }

    #botao-comecar {
        padding: 10px 20px; /* Adjusted for responsiveness */
        font-size: 16px; /* Adjusted for responsiveness */
        border-radius: 25px; /* Adjusted for responsiveness */
    }

    #logo-lagamar {
        height: 150px; /* Adjusted for responsiveness */
    }

    #lagamar-paisagem {
        height: 250px; /* Adjusted for responsiveness */
    }

    #onda-superior{
        width: 100vw;
    }
    
    /*Parte das escolhas */
    .container-accordion{
        gap: 50px;
    }
    .card-caminho img{
        width: 120%;
    }

    .btn-accordion{
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        color: white;
        background-color: rgb(60, 197, 255);
        transition: 0.5s;
        padding: 5px;
        border: none;
        cursor: pointer;
    }


    .secao-agradecimentos{
        padding-top: 70px;
        height: 240vh;
    }

    .agradecimentos-left{
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .text{
        align-items: center;
        margin: 1rem;
        gap: 1rem;
        color: var(--letraTitulos);
    }
    
    .text h2{
        font-size: 2.5rem;
        text-align: center;
    }
    
    .text ul li{
        text-align: center;
    }

    /*Sessao Biodiversidade*/

    .conteudo-biodiversidade{
        gap: 30px;
    }

    .card-1{
        padding-left: 4rem;
        padding-right: 4rem;  
        gap: 20px;  
    }

    .card-1 p{
        font-size: 18px;
    }

    .card-1 img{
        width: 50vw;
    }

    .apresentacao-bivalves {
        padding-top: 5px;
    }

    .apresentacao-bivalves p{
        font-size: 18px;
    }

    .carousel{
        width: 90%;
    }

    .ambientes img{
        width: 70vw;
    }

    .ambientes p{
        width: 90vw;
    }

    .usos{
        padding: 20px;
    }

    .usos p {
        font-size: 20px;
    }

    .card-2{
        padding-left: 3rem;
        padding-right: 3rem;  
        gap: 10px;  
    }

    .card-2 p{
        font-size: 18px;
    }

    .imagem-card-2 img{
        width: 700vw;
        border: 5px solid white;
    }

    #conservacao h2{
        font-size: 130px;
    }

    .texto-conservacao h2 {
        text-align: center;
    }

    .texto-conservacao {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .texto-conservacao img{
        width: 90vw;
    }

    .listas{
        padding-left: 3rem;
        padding-right: 3rem; 
    }

    .texto-conservacao figcaption {
        text-align: center;
    }

    .titulos-antropoceno h2{
        font-size: 90px;
    }
      
    #mudancas-climaticas h2{
        font-size: 75px;
        text-align: center;
    }

    .imagem-card-2 img{
        width: 80vw;
    }

    .texto-antropoceno p{
        font-size: 18px;
        text-align: center;
    }

    .texto-antropoceno{
        width: 100%;
    }

    #antropoceno-card{
        width: 100%;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .neosambaquis img{
        width: 80%;
        border: 5px solid white;
    }

    .card-mudança-climatica img{
        width: 80%;
        border: 5px solid white;
    }

    .secao-antropoceno p{
        font-size: 18px;
    }

    .lixo-no-mar p{
        width: 100%;
        color: black;
        text-align: center;
    }

    #antropoceno-card-2{
        width: 100%;
        padding: 10px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    #imagem-antropoceno img{
        width: 90%;
    }

    #entrada-antropoceno p{
        width: 100%;
        color: white;
    }

    .antropoceno{
        gap: 10px;
        padding-bottom: 5rem;
    }

    #pesca-1{
        width: 100%;
      }
      
      #barcos{
        width: 90vw;
      }
    
    #texto-prod p{
        font-size: 20px;
        text-align: center;
    }

    /*Seção Sociodiversidade*/

    .titulo-sociodiversidade{
        font-size: 10rem;
    }

    .card-pessoas, .card-apetrechos, .processamento-coluna1{
        width: 100vw;
    }

    .escrita-pessoas p, #escrita-apetrechos1 p, #escrita-apetrechos2 p, 
    .escrita-pesca p, #escrita-pesca1, .escrita-processamento p, 
    .escrita-cultivo p, #escrita-cultivo-responsividade p{
        font-size: 16px;
        text-align: center;
    }

    #processamento-coluna1{
        width: 100%;
    }

    #escrita-cultivo-responsividade{
        width: 100%;
        height: 100%;
    }
    #escrita-apetrechos1, #escrita-apetrechos2 {
        width: 100%;
    }

    #escrita-processamento-avulso{
        margin: 0;
        width: 40%;
    }

    .pessoas-corpo, .apetrechos-corpo,
    #apetrechos-corpo1, #apetrechos-corpo2, .pesca-corpo,
    .processamento-corpo, .processamento-coluna, .cultivo-corpo,
    .coluna-cultivo, #coluna2-cultivo, #corpo2-cultivo, #coluna2-cultivo2{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #pessoas-corpo2, #apetrechos-corpo1{
        flex-wrap: wrap-reverse;
    }

    .imagem-pescador, .imagem-apetrechos, #pescador-pesca, #pescador-pesca2,
    .imagem-processamento, #imagem-cultivo1, #imagem-cultivo2, #imagem-cultivo3,
    #imagem-cultivo4, #imagem-cultivo5, #pescador-consumo, .imagem-cultivo {
        width: 80vw;
    }

    .pesca-coluna2, .pesca-coluna1{
        gap: 10px;
        align-items: center;
    }

    .pesca-coluna2{
        flex-direction: column-reverse;
    }

    #imagem-processamento1{
        width: 30vw;
    }

    #imagem-processamento2{
        width: 40vw;
    }

    #imagem-cultivo6{
        width: 230vw;
    }

    .legenda-referencia{
        width: 40%;
    }
}


@media (max-width: 365px){
    body{
        overflow-x: hidden;
    }

    #logo-lagamar{
        height: 120px;
    }

    #botao-comecar{
        font-size: 1.5rem;
    }
}