
*{
    --letraAzul: #3168ff;
    --fundo: #91d8f7;
    --cornav: #C9EBFB;
  }

.secao-agradecimentos{
    background-color: var(--bg2-color);
}

.text-agradecimentos{
    display: flex;
    width: 100%;
}

.agradecimentos-left{
    width: 50%;
}

.text{
    margin: 4rem;
}

.text-info{
    margin-top: 9rem;
}

.text-info p{
    padding: 2rem;
}

.text-agradecimentos h2{
    font-size: 2rem;
    text-align: right;
    margin: 0 0 4rem 0;
}

.agradecimentos-right{
    text-align: left;
    width: 50%;
}

.agradecimentos-right p{
    font-size: 1.5rem;
}

.text-agradecimentos ul li{
    font-size: 1.5rem;
    text-align: right;
    list-style: none;
}