*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    --letraAzul: #3168ff;
    --fundo: #91d8f7;
    --cornav: #C9EBFB;
}

.principal{
    background-image: url("../images/ondas.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 570px;
    width: 100%;    
    background-color: #91d8f7;
}

.logo-lagamar{
    height: 400px;
}

a{
    color: var(--letraAzul);
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

a:hover{
    opacity: 0.7;
}

.logo{
    width: 10%;
    margin-right: 50%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    align-items: center;
    background-color: var(--cornav);
    height: 12vh;
}

.btContato{
    border-radius: 20px;
}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 1.5px;
    margin-left: 30px;
    padding: 10px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--letraAzul);
    margin: 8px;
    transform: 0.3s;
}

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }

    .logo{
        width: 20%;
    }

    .nav-list{
        position: absolute;
        top: 12vh;
        right: 0;
        width: 45vw;
        height: 92vh;
        background: var(--cornav);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;   
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

